IOT_MQTT_HOST=localhost
IOT_MQTT_PORT=1883
IOT_MQTT_TOPIC=devices/+/telemetry
IOT_DB_NAME=iot_platform
IOT_DB_USER=your_macos_username
IOT_DB_PASSWORD=
IOT_DB_HOST=localhost
IOT_DB_PORT=5432
IOT_SIM_INTERVAL=5
